---
import { type CollectionEntry, getCollection, render } from 'astro:content';
import BlogPost from '../../layouts/BlogPost.astro';
import LikeCounterAction from '@components/likes/LikeCounterAction.vue';
// import LikeCounter from '@components/likes/LikeCounter.vue';
 

export const prerender = true;

export async function getStaticPaths() {
  const posts = await getCollection('blog');
  return posts.map((post) => ({
    params: { slug: post.id },
    props: { post },
  }));
}
type Props = { post: CollectionEntry<'blog'> };
const { post } = Astro.props as Props;
const { Content } = await render(post);
---

<BlogPost {...post.data}>
  <div
    style={{
      height: '50px',
    }}
  >
    <!-- <LikeCounter postId={post.id} client:only="vue" /> -->
    <LikeCounterAction postId={post.id} client:only="vue" />
  </div>

  <Content />
</BlogPost>